<ion-content>




  <ion-item lines="none">

  <ion-icon name="arrow-back"></ion-icon>
  </ion-item>

  <ion-item class='input'>
    <ion-label class='title' position='stacked'>E-mail</ion-label>
    <ion-input class='placeholder' required=true clear-input=true placeholder='ex.:joao@gmail.com'></ion-input>
  </ion-item>

  <ion-item class='input'>
    <ion-label class='title' position='stacked'>Senha</ion-label>
    <ion-input class='placeholder' required=true clear-input=true placeholder='ex.:********'></ion-input>
  </ion-item>
  <p class="forgot">Esqueci minha senha</p>
  <ion-button class="formButton" fill='outline'>Login</ion-button>
  <p class='formText'>OU</p>
  <ion-button class='formButton' fill='outline'>Cadastro Para Clientes</ion-button>
  <ion-button class='formButton' fill='outline'>Cadastro Para Lojas</ion-button>
  <img src='../../assets/imagens/ondas.png'>
</ion-content>
