.title{
  font-size:23px;
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color:#333333;
}
.placeholder{
  margin-top: 20px;
  color:#999999;
}

.input{
  line:20%;
}
.forgot{
  margin-left: 15px;
  color:#999999;
}
.formButton{
  border-color:white;
  box-shadow:30px;
  color:#555555;
  align-items:center;
}
.formText{
  text-align: center;
  color:#222222;
  font-size: 20px;
}
